<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>

<body>
  <div class="nav">
    <p>{{user}}</p>
    {%if user.is_authenticated%}
    <a href="{% url 'post_page' naam=user %}">post</a>
    <a href="{% url 'logout_page' %}">logout</a>
    {%else%}
    <a href="{% url 'login_page' %}">login</a>
    <a href="{% url 'signup_page' %}">sign Up</a>
    {%endif%}
    <br><br>
  </div>




  <div>
    {% if user.is_authenticated %}
    <table border="2px black">
      <div>
        <td>title</td>
        <td>post</td>
        {% for p in data %}
        <tr>
          <td>{{p.post_title}}</td>
          <td>{{p.post_desc|safe}}</td>
          <td><a href="{% url 'post_del' val=p.id %}">delete</a></td>
          <td><a href="{% url 'post_update' val=p.id %}">update</a></td>
          {% endfor %}
        </tr>
      </div>
    </table>
    {%endif%}
  </div>

</body>

</html>