<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>login</title>
</head>


<body>
  <div id="bg"></div>
  <form action="" method="post"> {% csrf_token %}
    <input type="text" name="username" placeholder="Username" class="unicon">
    <input type="password" name="password" placeholder="password">
    <div class="form-field">
      <button class="btn" type="submit">Login</button>
    </div>
  </form>
</body>

</html>